
body {
  background-color: lightgray;
}

h1 {
  color: blue;
  text-align: center;
}

#menu {
  background-color: black;
}

#menu ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

#menu ul li {
  display: inline;   
  margin: 0 10px;
}

#menu ul li a {
  color: white;
  text-decoration: none;
}
